<div class="row">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="{{Property.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{Property.name}}</h5>
              <p class="card-text">{{Property.desc}}</p>
              <small>Price: {{Property.price}}</small> DH<br>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div>